body {
    background-color: #ccecfa;
}

header {
    background-color: #ccd4fa;
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

img {
    height: 100px;
}

.general_box {
    background-color: #f3f6c4;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.box1, .box2, .box3, .box4 {
    width: 30%;
    padding: 0 10px;
    margin: 0 0.2rem;
    border: solid 1px red;
    text-align: center;
}

ul {
    text-align: justify;
}